#container{
    width: 80vw;
    border: 1px solid black;
    padding: 16px;
    margin: 10px auto;
}

h1{
    font-size: 3rem;
    text-align: center;
}

/* @media screen and (max-width:680px){
    h1{
        color:red;
        font-size: 2rem;
    }
}

@media screen and (max-width:300px){
    h1{
        color:green;
        font-size: 2rem;
    }
} */

@media screen and (max-width:600px),(orientation:portrait){
    h1{
        color: palevioletred;
    }
    p{
        text-decoration: line-through;
    }
}