.cartItems{
    width: 100%;
    /* border: 1px solid black; */
}

.newCartItem{
    border-bottom: 1px solid black;
    margin: 10px auto;
    padding: 10px;
}

.newCartItem::after{
    content: "";
    display: table;
    clear: both;
}

.btnGrp{
    float: left;
    width: 30%;
    /* border: 1px solid red; */

}

.itemDetails{
    float: right;
    width: 65%;
    /* border: 1px solid orange; */
}

.image{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}

.name{
    font-size: 20px;
    font-weight: 700;
}

.totalPrice{
    width: 100px;
    margin: auto;
}

.priceName,
.priveValue{
    font-weight: 800;
    font-size: 20px;
}

.deleteBtn{
    font-size: 10px;
    border: 0px;
    padding: 5px;
    background-color: red;
}

.deleteBtn:hover,
.updateQty:hover{
    cursor: pointer;
}

.payment{
    font-size: 10px;
    border: 0px;
    padding: 5px;
    background-color: lightgreen;
}

.payment:hover{
    cursor: pointer;
}

.increaseQty,
.decreaseQty{
    border: 0px;
    background-color: transparent;
}

.updateQty{
    font-size: 15px;
    border: 0px;
    padding: 2px;
    width: 20px;
    height: 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: blueviolet;
    color: white;
}