/* Universal Selector */

*{
    border: 1px solid #ccc;
}

/* Element Selector */

h1{
    color:red;
}

span{
    text-decoration: line-through;
}

/* ID Selector */

#special{
    color:green;
}

/* Class Selector */

.fav-movie{
    color: purple;
}

/* Attribute selector */

input[type='text']{
    background-color: lightblue;
}

a[href="http://www.twitter.com"]{
    font-size:1.8rem;
}