*{
    margin: 0;
    padding: 0;
}

.container{
    text-align: center;
    width: 450px;
    margin: auto;
    border: 1px solid black;
    box-shadow: 10px 10px 20px black;
}

h2{
    background-color: blueviolet;
    color: white;
    padding: 20px;
}

.input{
    margin: 20px 0px;
}

#inp1,
#inp2,
#btn{
    padding: 6px;
}

#btn{
    background-color: blueviolet;
    color: white;
    border: 0px;
    cursor: pointer;
}

.calculator{
    margin: auto;
    width: 300px;
}