<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/loginstyle.css">
</head>
<body>
    {{#if msg}}
        <div class="flashMsg">
            {{msg}}
        </div>
    {{/if}}
    <div class="login">
        <div class="loginItem navItem1">

        </div>
        <div class="loginItem navItem2">
            <div class="loginOptions">
                <form class="loginForm" action="/login" method="post">
                    <div class="loginCreds">
                            <input class="loginUsername" type="text" placeholder="Enter Username" name="username"><br>
                            <input class="loginPassword" type="text" placeholder="Enter Password" name="password"><br>
                            <button class="loginBtn" type="submit">Login</button>
                    </div>
                </form>
                
                <div class="signup">
                    <hr class="horizontalRule">
                    <div class="signupDetails">
                        <button class="signupBtn">
                            <a href="/signup">Signup</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>