<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="signupstyle.css">
</head>
<body>
{{#if msg}}
        <div class="flashMsg">
            {{msg}}
        </div>
    {{/if}}
    <div class="signup">
        <div class="signupItem navItem1">

        </div>
        <div class="signupItem navItem2">
            <div class="signupOptions">
                <form class="signupForm" action="/signup" method="post">
                    <div class="signupCreds">
                            <input class="signupUsername" type="text" placeholder="Enter Username" name="username"><br>
                            <input class="signupPassword" type="text" placeholder="Enter Password" name="password"><br>
                            <button class="signupBtn" type="submit">Signup</button>
                    </div>
                </form>
                
                <div class="login">
                    <hr class="horizontalRule">
                    <div class="loginDetails">
                        <button class="loginBtn">
                            <a href="/login">Login</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>