*{
    margin: 0;
    padding: 0;
}

.profileHeading,
.signupHeading,
.loginHeading{
    color: rgb(68,68,156);
}

.signup{
    display: flex;
    width: 800px;
    margin: 200px auto;
    align-items: center;
}

.signupItem{
    width: 50%;
}

.navItem1{
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.Bd-aEsGPRVlNaXcfRq0YrgHaFq%26pid%3DApi&f=1&ipt=b797f8394d32bf4c0be8a440f66dcb4849f562096354e63247a5022abe970eb7&ipo=images);
    background-repeat: no-repeat;
    background-size: contain;
}

.navItem1,
.navItem2{
    height: 300px;
}

.signupOptions{
    border: 1px solid #ccc;
    width: 100%;
    align-content: space-around;
    padding: 30px;
    box-shadow: 3px 3px 10px black;
}

.horizontalRule{
    border-top: 1px solid #ccc;
}

.signupForm,
.login{
    height:50%
}

.signupBtn{
    margin-bottom: 20px;
}
/* 
.loginBtn:hover,
.signupBtn:hover{
    cursor: pointer;
} */

.signupForm{
    display: flex;
    align-items: center;
    justify-content: center;
}

.signupCreds{
    width: 300px;
}

.signupUsername,
.signupPassword,
.signupBtn,
.loginBtn{
    font-size: 24px;
    padding: 5px;
    border-radius: 4px;
}

.loginBtn{
    margin-bottom: 20px;
}

.signupUsername,
.signupPassword{
    width: 95%;
    margin: 10px 0;
}

.signupBtn{
    background-color: #1877f2;
    border-radius: 1px;
    border: 0px;
    color: white;
    width: 100%;
}

.loginBtn{
    background-color: #42b72a;
    border-radius: 1px;
    border: 0px;
    color: white;
    width: 70%;
    margin-top: 20px;
}

.loginBtn a:link,
.loginBtn a:visited{
    color: white;
    text-decoration: none;
}

.loginDetails{
    display: flex;
    justify-content: center;
}